#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.search-wrap {
    display: flex;
    margin: 20px;
}
#search-input {
    display: block;
    margin-right: 20px;
}

#characters-wrap {
    display: flex;
    flex-direction: column;
}

.character {
    position: relative;
    margin: 10px;
}

.character__image {
    width: 128px;
    height: 128px;
    object-fit: cover;
}

.character__remove {
    position: absolute;
    top: 5px;
    right: 5px;
}